@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  font-family: "Josefin Sans", sans-serif;
}

.glowing-border {
  border: 1px solid !important;
  border-image: linear-gradient(135deg, #00c2ff 0%, #ae01ff 100%) !important;
  border-image-slice: 1 !important;
  filter: drop-shadow(4px 4px 22px rgba(0, 194, 255, 0.37)) !important;
}

.gradient-border {
  border: 1px solid !important;
  border-image: linear-gradient(135deg, #00c2ff 0%, #ae01ff 100%) !important;
  border-image-slice: 1 !important;
}

.gradient-button {
  background: linear-gradient(135deg, #00c2ff 0%, #ae01ff 100%) !important;
}

.text-gradient {
  background: var(
    --gradient,
    linear-gradient(135deg, #00c2ff 0%, #ae01ff 100%)
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.clip-cut::before {
  content: "";
  position: absolute;
  top: 54.8px;
  right: -1px;
  width: 34px;
  height: 34px;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background: linear-gradient(135deg, #ae01ff 0%, #ae01ff 50%, black 54%);
}
